{% extends 'layout/app/teacher_dashboard.twig' %}
{% set titleName = line('dashboard_shared_title', 'dashboard') %}
{% set menu = "dashboard/shareds/menu_profile.twig" %}

{% block dashboard_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="content-body">
        {{ form_open('') }}
          <div class="profile-form-wrapper">
            {% if password is not null %}
            <div class="col-md-12">
              <label for="current_password">{{line('current_password', 'field')}}<sup class="required-sag">*</sup></label>
              <input type="password" name="current_password" class="form-control" placeholder="{{line('current_password', 'field')}}">
            </div>
            {% endif %}
            <div class="col-md-6">
              <label for="new_password">{{line('new_password', 'field')}}<sup class="required-sag">*</sup></label>
              <input type="password" name="password" class="form-control" placeholder="{{line('new_password', 'field')}}">
            </div>
            <div class="col-md-6">
              <label for="confirm_new_password">{{line('confirm_new_password', 'field')}}<sup class="required-sag">*</sup></label>
              <input type="password" name="confirm_password" class="form-control" placeholder="{{line('confirm_new_password', 'field')}}">
            </div>
            <div class="col-md-12">
              <div class="break5"></div>
              <input type="submit" class="btn btn-md-gray" value="{{line('save', 'field')}}">
            </div>
          </div>
        {{ form_close() }}
      </div>
      <div class="break"></div>
    </div>
  </div>
{% endblock %}
