{% extends 'layout/app/master.twig' %}
{% set titleName = line('title_10', 'dashboard') %}
{% set bodyClass = "register-page" %}
{% block content %}
  <div class="box-register">
    <div class="box-join-now box-join-register">
      <div class="box-header-join bg-sgogo-white">
        <div class="logo-join">
          <a href="{{ base_url('') }}">
            <img src="{{ base_url() }}assets/images/logo-teacher.png" alt="">
          </a>
        </div>
        <div class="title-join title-register">
          {{ line('forgot', 'dashboard') }}
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 text-center">
        {{ line('enter_email', 'dashboard') }}
      </div>
      <div class="box-body-join">
        {% if reset_pw_error %}
        <div class="col-lg-12 text-center">
          <div class="alert alert-danger">{{ reset_pw_error }}</div>
        </div>
        {% endif %}
        <div class="clearfix"></div>
        {{ form_open('', {id: 'form-skillagogo-signup'}) }}
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group">
            {{ sg_field('text', 'email', values, {
              class: 'form-control',
              placeholder: 'email'
            }) }}
            <label for="email" class="error"
                   {% if not form_error('email') %}style="display: none;"{% endif %}>{{ form_error('email') }}</label>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="text-center box-btn-register">
            <input class="btn btn-register-2" type="submit" value="{{ line('send_email', 'button') }}">
          </div>
          <div class="dont-have-account">
            {{ line('no-acc', 'dashboard') }}
            <a href="{{ base_url('register') }}">
              <strong class="color-sgogo-purple">{{ line('sign_up', 'button') }}</strong>
            </a>
          </div>
        </div>
        {{ form_close() }}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function () {
      $.validator.setDefaults({
        highlight: function (element, errorClass, validClass) {
          if (element.type === "radio") {
            this.findByName(element.name).addClass('error-radio');
          } else {
            $(element).closest('.form-group').removeClass('has-success has-feedback').addClass('has-error has-feedback');
            $(element).closest('.form-group').find('i.fa').remove();
            $(element).closest('.form-group').append('<i class="fa fa-exclamation fa-lg form-control-feedback"></i>');
          }
        },
        unhighlight: function (element, errorClass, validClass) {
          if (element.type === "radio") {
            this.findByName(element.name).removeClass(errorClass).addClass(validClass);
          } else {
            $(element).closest('.form-group').removeClass('has-error has-feedback').addClass('has-success has-feedback');
            $(element).closest('.form-group').find('i.fa').remove();
            $(element).closest('.form-group').append('<i class="fa fa-check fa-lg form-control-feedback"></i>');
          }
        }
      });

      $.validator.addMethod(
        "regex",
        function (value, element, regexp) {
          var re = new RegExp(regexp);
          return this.optional(element) || re.test(value);
        },
        "{{ line('validation_check','controller_js') }}"
      );

      $("#form-skillagogo-signup").validate({
        ignore: [],
        rules: {
          'email': {
            required: true,
            email: true
          }
        },
        messages: {
          email: {
            required: "{{line('validation_email','controller_js')}}"
          }
        }
      });
    });
  </script>
{% endblock %}
