{% extends 'adminuao3hltbr0/master.twig' %}
{% set titleName = "administrators" %}
{% set bodyClass = "fixed-topbar fixed-sidebar theme-sdtl color-purple" %}

{% block css %}
<link href="{{ base_url() }}assets/adminuao3hltbr0/plugins/datatables/dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <section>
    {% include 'adminuao3hltbr0/shareds/sidebar.twig' %}
    <div class="main-content">
      {% include 'adminuao3hltbr0/shareds/top_bar.twig' %}
      <div class="page-content">
        <div class="header">
          <h2><strong>Administrators</strong></h2>
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li><a href="{{ base_url() }}/adminuao3hltbr0/home">Dashboard</a></li>
              <li class="active">Administrator</li>
            </ol>
          </div>
          {% include 'adminuao3hltbr0/shareds/alert.twig' %}
        </div>
        <div class="row">
          <div class="col-lg-12 portlets">
            <div class="panel">
              <div class="panel-content pagination2 table-responsive">
                {{ form_open('') }}
                <div class="pull-left">
                  <a href="{{ base_url() }}adminuao3hltbr0/page_administrators/new_admin" class="btn btn-primary">
                    <i class="fa fa-edit"></i>&nbsp;
                    Create New
                  </a>
                </div>
                <table id="table2" class="table table-hover dataTable">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th>Action</th>
                      </tr>
                  </thead>
                  {% if admins %}
                    <tbody>
                      {% for admin in admins %}
                        {% if admin.status == 0 %}
                          {% set lblcls = 'warning' %}
                        {% elseif admin.status == 1 %}
                          {% set lblcls = 'success' %}
                        {% else %}
                          {% set lblcls = 'danger' %}
                        {% endif %}
                        <tr>
                          <td>{{ admin.username }}</td>
                          <td>{{ admin.email }}</td>
                          <td>{{ admin_type[admin.type] }}</td>
                          <td>
                            <h4>
                              <span class="label label-{{lblcls}}">{{ admin_status[admin.status] }}</span>
                            </h4>
                          </td>
                          <td>
                            <a href="{{ site_url('adminuao3hltbr0/page_administrators/edit/' ~ admin.id) }}" class="btn btn-warning btn-sm">
                              <i class="fa fa-edit"></i> Edit
                            </a>
                            {% if admin.id != user_login_admin.admin_id %}
                            <button name="del" type="submit" value="{{ admin.id }}" class="btn btn-danger btn-sm">
                              <i class="fa fa-trash-o"></i> Delete
                            </button>
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  {% endif %}
                </table>
                {{ form_close() }}
              </div>
            </div>
          </div>
        </div>
        {% include 'adminuao3hltbr0/shareds/footer.twig' %}
      </div>
    </div>
  </section>
  {# section for sidebar left and searching full #}
  <div class="loader-overlay">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery/jquery-1.11.1.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/gsap/main-gsap.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery-cookies/jquery.cookies.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery-block-ui/jquery.blockUI.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootbox/bootbox.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/charts-sparkline/sparkline.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/retina/retina.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/select2/select2.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/icheck/icheck.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/backstretch/backstretch.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/charts-chartjs/Chart.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/sidebar_hover.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/widgets/notes.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/quickview.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/pages/search.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/plugins.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/application.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/pages/table_dynamic.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/layout.js"></script>
{% endblock %}

