{% extends 'adminuao3hltbr0/master.twig' %}
{% set titleName = "teacher fee payment" %}
{% set bodyClass = "fixed-topbar fixed-sidebar theme-sdtl color-purple" %}

{% block css %}
<link href="{{ base_url() }}assets/adminuao3hltbr0/plugins/datatables/dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
  {% include 'adminuao3hltbr0/shareds/sidebar.twig' %}
  <div class="main-content">
    {% include 'adminuao3hltbr0/shareds/top_bar.twig' %}
    <div class="page-content">
      <div class="header">
        <h2><strong>Payout Details for {{ course.title }}</strong> </h2>
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li><a href="{{ base_url() }}/adminuao3hltbr0/home">Dashboard</a></li>
            <li class="active">Payout Details</li>
          </ol>
        </div>
        {% include 'adminuao3hltbr0/shareds/alert.twig' %}
      </div>
      <div class="row">
        <div class="col-lg-12 portlets">
          <h2>Invoice List</h2>
          <div class="panel">
            <div class="panel-content pagination2 table-responsive">
              {{ form_open('') }}
              <table id="table3" class="table table-hover dataTable">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Payout Details Code</th>
                    <th>Class ID</th>
                    <th>Issue Date</th>
                    <th>Due Date</th>
                    <th>Quantity</th>
                    <th>Class Price</th>
                    <th>Total Payment</th>
                    <th>Skillagogo Commission</th>
                    <th>Teacher Takehome</th>
                  </tr>
                </thead>
                <tbody>
                  {% set i=1 %}
                  {% for payout in payouts %}
                    <tr>
                      <input type="hidden" name="currency" value="{{ currency }}"/>
                      <td>{{i}}</td>
                      <td><a href="{{ base_url() }}dashboard/teacher/payout/invoice/{{payout.invoice_code}}">{{ payout.invoice_code }}</a></td>
                      <td>{{ payout.unique_id }}</td>
                      <td>
                        {{ payout.created_at|date('Y-m-d') }}
                      </td>
                      <td>
                        {{ payout.due_date|date('Y-m-07') }}
                      </td>
                      <td>{{ payout.count_data }}</td>
                      <td>{{ delimiter_number(payout.currency, payout.price) }}</td>
                      <td>{{ delimiter_number(payout.currency, payout.price * payout.count_data) }}</td>
                      <td>{{ delimiter_number_dec(payout.currency, payout.skillagogo_commission * payout.count_data, 2) }}</td>
                      <td>{{ delimiter_number_dec(payout.currency, payout.amount * payout.count_data, 2) }}</td>
                    </tr>
                  {% set i=i+1 %}
                  {% endfor %}
                </tbody>
              </table>
              {{ form_close() }}
            </div>
          </div>
        </div>
      </div>

      {% include 'adminuao3hltbr0/shareds/footer.twig' %}
    </div>
  </div>
</section>
{# section for sidebar left and searching full #}
<div class="loader-overlay">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/gsap/main-gsap.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery-cookies/jquery.cookies.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery-block-ui/jquery.blockUI.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootbox/bootbox.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/charts-sparkline/sparkline.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/retina/retina.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/select2/select2.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/icheck/icheck.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/backstretch/backstretch.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/charts-chartjs/Chart.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/js/sidebar_hover.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/js/widgets/notes.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/js/quickview.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/js/pages/search.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/js/plugins.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/js/application.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/js/pages/table_dynamic.js"></script>
<script src="{{ base_url() }}assets/adminuao3hltbr0/js/layout.js"></script>
{% endblock %}
