<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <a href="{{ base_url('course') }}?category=1" class="list-categories">
    <div class="image-wrapper-ratio aspect-ratio _16x9">
      <img src="{{ base_url() }}assets/images/categories/art-design-culture.jpg" alt="">
    </div>
    <div class="label-categories-bottom bg-sgogo-purple">
      {{ line('art, design, culture', 'categories') }}
    </div>
  </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <a href="{{ base_url('course') }}?category=15" class="list-categories">
    <div class="image-wrapper-ratio aspect-ratio _16x9">
      <img src="{{ base_url() }}assets/images/categories/business.jpg" alt="">
    </div>
    <div class="label-categories-bottom bg-sgogo-blue-light">
      {{ line('business', 'categories') }}
    </div>
  </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <a href="{{ base_url('course') }}?category=21" class="list-categories">
    <div class="image-wrapper-ratio aspect-ratio _16x9">
      <img src="{{ base_url() }}assets/images/categories/f&b.jpg" alt="">
    </div>
    <div class="label-categories-bottom bg-sgogo-red">
      {{ line('f&b', 'categories') }}
    </div>
  </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <a href="{{ base_url('course') }}?category=25" class="list-categories">
    <div class="image-wrapper-ratio aspect-ratio _16x9">
      <img src="{{ base_url() }}assets/images/categories/lifestyle.jpg" alt="">
    </div>
    <div class="label-categories-bottom bg-sgogo-yellow">
      {{ line('lifestyle', 'categories') }}
    </div>
  </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <a href="{{ base_url('course') }}?category=30" class="list-categories">
    <div class="image-wrapper-ratio aspect-ratio _16x9">
      <img src="{{ base_url() }}assets/images/categories/family-parenting.jpg" alt="">
    </div>
    <div class="label-categories-bottom bg-sgogo-purple-light">
      {{ line('parenting & family', 'categories') }}
    </div>
  </a>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <a href="{{ base_url('course') }}?category=34" class="list-categories">
    <div class="image-wrapper-ratio aspect-ratio _16x9">
      <img src="{{ base_url() }}assets/images/categories/tech.jpg" alt="">
    </div>
    <div class="label-categories-bottom bg-sgogo-green-dark">
      {{ line('tech', 'categories') }}
    </div>
  </a>
</div>
