<header>
  <div id="home-accordion" role="tablist" aria-multiselectable="true">
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="box-slide-top">
        <div class="container">
          <div class="col-md-12">
            <div class="pull-right">
              <button data-toggle="collapse" data-parent="#home-accordion" href="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne" type="button" class="btn btn-close"
                      id="btn-close-slide">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <div class="text-center">
              <div class="title-top-slide">
                {{ line('title', 'how_it_work') }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <div class="title-desc-itwork">
                {{ line('learner_title', 'how_it_work') }}
              </div>
            </div>
            <div class="box-list-img-itwork">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <img src="{{ base_url() }}assets/images/how_it_works_search.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <img src="{{ base_url() }}assets/images/how_it_works_book.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border-dashed">
                  <img src="{{ base_url() }}assets/images/how_it_works_enjoy.png" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="desc-img-itwork">
                    <div class="title">
                      1. {{ line('learner_sub_search', 'how_it_work') }}
                    </div>
                    <div class="description">
                      {{ line('learner_desc_search', 'how_it_work') }}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="desc-img-itwork">
                    <div class="title">
                      2. {{ line('learner_sub_book', 'how_it_work') }}
                    </div>
                    <div class="description">
                      {{ line('learner_desc_book', 'how_it_work') }}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="desc-img-itwork">
                    <div class="title">
                      3. {{ line('learner_sub_enjoy', 'how_it_work') }}
                    </div>
                    <div class="description">
                      {{ line('learner_desc_enjoy', 'how_it_work') }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <div class="title-desc-itwork">
                {{ line('teacher_title', 'how_it_work') }}
              </div>
            </div>
            <div class="box-list-img-itwork">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <img src="{{ base_url() }}assets/images/how_it_works_create.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <img src="{{ base_url() }}assets/images/how_it_works_publish.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <img src="{{ base_url() }}assets/images/how_it_works_teach.png" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="desc-img-itwork">
                    <div class="title">
                      1. {{ line('teacher_sub_create', 'how_it_work') }}
                    </div>
                    <div class="description">
                      {{ line('teacher_desc_create', 'how_it_work') }}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="desc-img-itwork">
                    <div class="title">
                      2. {{ line('teacher_sub_publish', 'how_it_work') }}
                    </div>
                    <div class="description">
                      {{ line('teacher_desc_publish', 'how_it_work') }}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="desc-img-itwork">
                    <div class="title">
                      3. {{ line('teacher_sub_teach', 'how_it_work') }}
                    </div>
                    <div class="description">
                      {{ line('teacher_desc_teach', 'how_it_work') }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
