<div class="modal fade" id="QuestionCreateClass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="box-newsletter">
          <div class="body-white-create-class">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right">
                  <a class="close close-modal" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>
                  {{ line('become-teacher', 'modal') }}
                </p>
              </div>
            </div>
          </div>
          <div class="body-footer">
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right">
                  <a href="{{ base_url() }}" class="btn btn-default" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                    {{ line('no', 'button') }}
                  </a>
                  <a href="{{ base_url() }}become-teacher?confirm=true" class="btn btn-default">
                    <i class="fa fa-check"></i>
                    {{ line('yes', 'button') }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
