<div class="row">
  <div class="col-md-12">
    <div class="horizontal-menu">
      <a href="{{ base_url() }}dashboard/student/credit"
         class="list-h-top {% if menu_top == 'index' %} active {% endif %}">
        <div class="title">
          {{ line('dashboard_4', 'dashboard') }}
        </div>
        <div
          tabindex="0"
          data-toggle="popover"
          data-trigger="focus"
          data-content="{{line('credit_tooltip', 'field')}}"
          class="btnInfoPopover img-tooltip-top">
          <img src="{{ base_url() }}assets/images/tooltips other.png" class="img-tooltip">
        </div>
      </a>
      {#<a href="{{ base_url() }}dashboard/student/credit/history"#}
         {#class="list-h-top {% if menu_top == 'history' %} active {% endif %}">#}
        {#<div class="title">#}
          {#History#}
        {#</div>#}
      {#</a>#}
    </div>
  </div>
</div>
