{% extends 'adminuao3hltbr0/master.twig' %}
{% set titleName = "edit user page" %}
{% set bodyClass = "fixed-topbar fixed-sidebar theme-sdtl color-purple" %}

{% block content %}
  <section>
    {% include 'adminuao3hltbr0/shareds/sidebar.twig' %}
    <div class="main-content">
      {% include 'adminuao3hltbr0/shareds/top_bar.twig' %}
      <div class="page-content">
        <div class="header">
          <h2><strong>Edit Rating</strong></h2>
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li><a href="{{ base_url() }}/adminuao3hltbr0/home">Dashboard</a></li>
              <li class="active">Edit rating</li>
            </ol>
          </div>
          {% include 'adminuao3hltbr0/shareds/alert.twig' %}
        </div>
        <div class="row">
          <div class="col-lg-12 portlets">
            <div class="panel">
              <div class="panel-content">
                <div class="row">
                  {{form_open_multipart('')}}
                    <input type="hidden" name="class_id" value="{{ rating.class_id }}"/>
                    <input type="hidden" name="rate" value="{{ rating.rate }}"/>
                    <div class="col-md-12">
                      <div class="row boxed-profile form-group">
                        <div class="col-md-12">
                          <h3>{{ rating.first_name ~ " " ~ rating.last_name }}'s rating at {{ convert_to_timezone(session.ip_address, rating.rating_time)|date("j F Y g.ia") }}</h3>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                          <label for="rating">Rating:&nbsp;&nbsp;</label>
                          {% for i in 1..5 %}
                            <i class="fa fa-star" {% if i <= rating.rate %} style="color:#FCBC68;" {% endif %}></i>
                          {% endfor %}
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <label for="review">Review<sup class="required-sag">*</sup></label>
                              {{ sg_field('textarea', 'review', rating, {
                              placeholder: 'Enter review here..',
                              class: 'form-control',
                              rows: '10',
                              cols: '10',
                              class: 'tinymce-class'}) }}
                            </div>
                          </div>
                        </div>                     
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="submit" class="btn btn-md btn-primary" value="Submit">
                      </div>
                    </div>
                  {{ form_close() }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'adminuao3hltbr0/shareds/footer.twig' %}
      </div>
    </div>
  </section>
  {# section for sidebar left and searching full #}
  <div class="loader-overlay">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery/jquery-1.11.1.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/gsap/main-gsap.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery-cookies/jquery.cookies.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/jquery-block-ui/jquery.blockUI.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootbox/bootbox.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/charts-sparkline/sparkline.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/retina/retina.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/select2/select2.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/icheck/icheck.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/backstretch/backstretch.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/charts-chartjs/Chart.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/sidebar_hover.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/widgets/notes.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/quickview.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/pages/search.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/plugins.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/application.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/pages/table_dynamic.js"></script>
  <script src="{{ base_url() }}assets/adminuao3hltbr0/js/layout.js"></script>
   <script src="{{ base_url() }}assets/adminuao3hltbr0/plugins/tinymce/tinymce.min.js"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      height: 200,
      menubar: false,
      plugins: [
        'advlist autolink lists link charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime table contextmenu paste code'
      ],
      toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
      content_css: [
        '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
        '//www.tinymce.com/css/codepen.min.css'
      ]
    });
  </script>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#upload-image-user')
          .attr('src', e.target.result)
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
{% endblock %}
