{% extends 'layout/app/student_dashboard.twig' %}
{% set titleName = line('dashboard_shared_title', 'dashboard') %}
{% set menu = "dashboard/student/menu_rating.twig" %}

{% block dashboard_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="content-body">
        {% if courses %}
          {% for course in courses %}
            {% set schedule = course.schedules|first %}
            {% set course_date_start = strtotime(schedule.date ~ ' ' ~ schedule.start_time) %}
            {% set course_date_end = strtotime(schedule.date ~ ' ' ~ schedule.end_time) %}
            <div class="comments-wrapper">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  {% include('dashboard/shareds/_class_schedule.twig') %}
                </div>
                <div class="col-md-6"></div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="box-title-comment">
                    <div class="title-big">
                      {{ line('dashboard_120', 'dashboard') }} {{ course.title }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {% if course.rating_count > 0 %}
                    {% for rating in course.ratings %}
                      <div class="list-comment">
                        <div class="date-title">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="title">
                                {{ rating.first_name }} {{ rating.last_name }}
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="rate">
                                {% for i in range(1, rating.rate) %}
                                  <img src="{{ base_url() }}assets/images/rating-active.png" alt="">
                                {% endfor %}
                                {% if rating.rate < 5 %}
                                  {% for i in range(rating.rate, 4) %}
                                    <img src="{{ base_url() }}assets/images/rating.png" alt="">
                                  {% endfor %}
                                {% endif %}
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="date">
                                {{ convert_to_timezone(session.ip_address, rating.rating_time)|date("F jS Y \\a\\t g:ia") }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="description">
                          {{ rating.review|raw }}
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                    <div class="alert alert-info">
                      {{ line('dashboard_57', 'dashboard') }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
          {% include('dashboard/shareds/_pagination.twig') %}
        {% else %}
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-info">
                {{ line('dashboard_43', 'dashboard') }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
