{% extends 'email/shared/body.twig' %}

{% block content %}
    <tr>
      <td align="center" valign="top" class="fix-box">
        <table align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff;">
          <tbody>
            <tr>
              <td valign="top">
                <table align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">
                  <tbody>
                    <tr>
                      <td height="50"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <table border="0" cellspacing="0" cellpadding="0" align="left">
                          <tbody>
                            <tr>
                              <td style="font-size:16px;color:#999999;line-height:180%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
                                <span>
                                  <a href="#" style="text-decoration: none; color: #555555; font-weight: 300;">
                                    {{ line('a1', 'email') }} {{first_name}},
                                  </a>
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td height="15">
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size:16px;color:#999999;line-height:180%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
                                {{ line('a32', 'email') }}
                                <br>
                                <br>
                                <b>{{ line('af1', 'email') }}</b> : {{ course.title }}
                                <br>
                                <b>{{ line('af2', 'email') }}</b> : {{ teacher.first_name }} {{ teacher.last_name }}
                                <br>
                                <b>{{ line('af3', 'email') }}</b> :
                                <br>
                                {% for schedule in schedules %}
                                  {% set start_time = strtotime(schedule.date ~ ' ' ~ schedule.start_time) %}
                                  - {{ date('j F Y g.ia', start_time) }} @ {{ schedule.address_line1 }}, {{ schedule.city }}, {{ schedule.state }} {{ schedule.postal_code }}
                                  <br>
                                {% endfor %}
                                <b>{{ line('af4', 'email') }}</b> : {{ delimiter_number(course.currency, course.price) }}
                              </td>
                            </tr>
                            <tr>
                              <td height="25">
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size:16px;color:#999999;line-height:180%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
                                {#<b>{{ line('a33', 'email') }}</b>#}
                                {#<br>#}
                                {#<br>#}
                                {{ line('a6', 'email') }}
                                <br>
                                <br>
                                {{ line('a2', 'email') }}
                                <br>
                                The skillagogo team
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="50"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
{% endblock %}
