{% extends 'email/shared/body.twig' %}

{% block content %}
  <tr>
    <td align="center" valign="top" class="fix-box">
      <table align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: #ffffff;">
        <tbody>
          <tr>
            <td valign="top">
              <table align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">
                <tbody>
                  <tr>
                    <td height="50"></td>
                  </tr>
                  <tr>
                    <td valign="top">
                      <table border="0" cellspacing="0" cellpadding="0" align="left">
                        <tbody>
                          <tr>
                            <td style="font-size:16px;color:#999999;line-height:180%;font-family:Arial;">
                              <span>
                                <a href="#" style="text-decoration: none; color: #555555; font-weight: 300;">
                                  Hi, {{ first_name }} {{ last_name }}
                                </a>
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td height="15">
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size:16px;color:#999999;line-height:180%;font-family:Arial;">
                              {{ line('a70', 'email') }}
                            </td>
                          </tr>
                          <tr>
                            <td height="20">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table align="center" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td width="auto" align="center" valign="middle" height="32" style="border-radius: 5px; font-family: arial; text-align: center; color: rgb(255, 255, 255); font-weight: 300; padding: 10px 25px; word-break: break-word; line-height: 21px; background-color: #8388be; background-clip: padding-box;">

                                      <span style="font-size:16px;color: #ffffff; font-weight: 300;">
                                        <a href="{{ base_url() }}auth/reset_password/{{ email|url_encode }}/{{ forgot_key }}" style="text-decoration: none; color: #ffffff; font-weight: 300;">
                                          {{ line('a71', 'email') }}
                                        </a>
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td height="20">
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size:16px;color:#999999;line-height:180%;font-family:Arial;">
                                {#
                                {{ line('a72', 'email') }}
                                <br/>
                                #}
                                {{ line('a73', 'email') }}
                                <br/>
                                <br/>
                                Thank you very much, merci beaucoup, terima kasih banyak!
                                <br/>
                                The skillagogo team
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="50"></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
{% endblock %}
