<!DOCTYPE html>
<html lang="en">
<head>
  <title>skillagogo - Page Thank You</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- START SEO META SHARE FACEBOOK -->
  <meta property="og:url" content="http://www.yoursite.com"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="YOUR TITLE"/>
  <meta property="og:description" content="YOUR DESCRIPTION"/>
  <meta property="og:image" content="URL IMAGE WEBSITE"/>
  <!-- END SEO META SHARE FACEBOOK -->

  <!-- START SEO META SHARE TWITTER -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="apecsa"/>
  <meta name="twitter:title" content="Apecsa title">
  <meta name="twitter:description" content="Apecsa Project"/>
  <meta name="twitter:creator" content="ApecsaOS"/>
  <meta name="twitter:image:src" content="https://website.com/image250X250.png"/>
  <meta name="twitter:domain" content="website.com"/>
  <!-- END SEO META SHARE TWITTER -->

  <!-- START SEO META SHARE GOOGLE PLUS -->
  <meta itemprop="name" content="ApecsaOS"/>
  <meta itemprop="description" content="Website Description"/>
  <meta itemprop="image" content="https://website.com/image250X250.png"/>
  <!-- END SEO META SHARE GOOGLE PLUS -->

  <!-- Twitter Bootstrap -->
  <link href="{{ base_url() }}assets/css/bootstrap.css" rel="stylesheet">

  <!-- Font Awesome Icon -->
  <link href="{{ base_url() }}assets/css/font-awesome.css" rel="stylesheet">

  <!-- Customize CSS -->
  <link href="{{ base_url() }}assets/css/main.css" rel="stylesheet">
</head>
<body>
<section class="body-commingsoon">
  <div class="body-commingsoon-signup">
    <div class="container">
      <div class="body-center">
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <div class="img-logo">
              <img src="{{ base_url() }}assets/images/logo.png" alt="">
            </div>
            <div class="txt-big">
              Thank you for<br> Signing up
            </div>
            <div class="txt-small">
              your exciting experience<br> is on the way
            </div>
            <div class="txt-lets">
              let's keep in touch
            </div>
            <ul class="social-icons">
              <a href="http://facebook.com/skillagogo">
                <li>
                  <i class="fa fa-facebook"></i>
                </li>
              </a>
              <a href="http://twitter.com/skillagogo">
                <li>
                  <i class="fa fa-twitter"></i>
                </li>
              </a>
              {#<a href="{{ base_url() }}assets/http://linkedin.com">#}
              {#<li>#}
              {#<i class="fa fa-linkedin-square"></i>#}
              {#</li>#}
              {#</a>#}
              {#<a href="{{ base_url() }}assets/http://instagram.com">#}
              {#<li>#}
              {#<i class="fa fa-instagram"></i>#}
              {#</li>#}
              {#</a>#}

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
<!-- Jquery  -->
<script src="{{ base_url() }}assets/js/jquery.min.js"></script>

<!-- Twitter Bootstrap -->
<script src="{{ base_url() }}assets/js/bootstrap.js"></script>

<!-- Customize Javascript -->
<script src="{{ base_url() }}assets/js/main.js"></script>
</html>
